<template>
    <div>
        <md-toolbar class="md-primary">
            <md-button class="md-icon-button" @click="toggleMenu">
                <md-icon class="fa fa-bars"></md-icon>
            </md-button>
            <span class="md-title">Heating system</span>
        </md-toolbar>

        <md-drawer :md-active.sync="menuVisible">
            <md-list>
                <md-list-item @click="openPage('/component', 'pump')">
                    <md-icon class="fas fa-gas-pump"></md-icon>
                    <span class="md-list-item-text">Pumps</span>
                </md-list-item>

                <md-list-item @click="openPage('/component', 'bvalve')">
                    <md-icon class="fa fa-balance-scale"></md-icon>
                    <span class="md-list-item-text">Balancing valves</span>
                </md-list-item>

                <md-list-item @click="openPage('/component', 'tvalve')">
                    <md-icon class="fa fa-weight"></md-icon>
                    <span class="md-list-item-text">Thermostatic valves</span>
                </md-list-item>

                <md-list-item @click="openPage('/component', 'radiator')">
                    <md-icon class="fa fa-align-justify fa-rotate-90"></md-icon>
                    <span class="md-list-item-text">Radiators</span>
                </md-list-item>

                <md-list-item @click="openPage('/component', 'pipe')">
                    <md-icon class="fas fa-exchange-alt"></md-icon>
                    <span class="md-list-item-text">Pipes</span>
                </md-list-item>

                <md-list-item @click="openPage('/result')">
                    <md-icon class="fas fa-calculator"></md-icon>
                    <span class="md-list-item-text">Results</span>
                </md-list-item>
            </md-list>
        </md-drawer>
    </div>
</template>

<script>
  export default {
    name: "Toolbar",
    data: () => ({
      menuVisible: false
    }),
    methods: {
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      },

      openPage(newPage, newComponent = undefined) {
        if (newComponent) {
          this.$store.dispatch("changeCurrentComponent", newComponent);
        }
        if(this.$router.currentRoute.path !== newPage) {
          this.$router.push(newPage)
        }
        this.menuVisible = false;
      }
    }
  }
</script>

<style scoped>

</style>
