<template>
    <md-list>
        <md-list-item v-for="value in $store.state.currentItemValues" v-bind:key="value.criteriaId">
            <md-field>
                <label>{{ value.criteriaName }}</label>
                <md-input v-model="value.value" @focusout="updateValue(value)"></md-input>
                <span class="md-suffix">{{ value.criteriaMeasure }}</span>
            </md-field>
        </md-list-item>
    </md-list>
</template>

<script>
  export default {
    name: "ComponentValuesTab",
    data: () => ({
    }),
    methods: {
      updateValue(value) {
        if(value.created) {
          this.$store.dispatch("createItemValue", value);
          value.created = false
        } else {
          this.$store.dispatch("updateItemValue", value);
        }
      }
    },
  }
</script>

<style scoped>

</style>
