<template>
    <form id="FormAddComponent">
        <md-field :class="{'md-invalid' : nameError}">
            <label>Component name</label>
            <md-input v-model="form.component_name" name="component_name"></md-input>
            <span class="md-error">The name can not be null.</span>
        </md-field>
        <md-button class="md-raised md-secondary" @click="$store.commit('changeAddComponentModalState', false)">Cancel</md-button>
        <md-button class="md-raised md-primary" @click="addComponent()">Save</md-button>
    </form>
</template>

<script>
    import Vue from 'vue'
    import VueMaterial from 'vue-material'
    import 'vue-material/dist/vue-material.min.css'
    import 'vue-material/dist/theme/default.css'

    Vue.use(VueMaterial);

    export default {
        name: 'FormAddComponent',
        data: () => ({
            isEditComponentModalDisplayed: false,
            form: {
                component_name: ''
            },
          nameError: false
        }),
        methods: {
            addComponent(){
              if(this.form.component_name.trim() === '') {
                this.nameError = true;
              } else {
                this.$store.dispatch('addComponent', {name: this.form.component_name});
                this.$store.commit('changeAddComponentModalState', false)
              }
            },
        }
    }
</script>

<style lang="scss" scoped>
    #FormAddComponent {
        margin: 25px 150px;
    }
    #listComponent {
        margin-top: 25px;
    }
    .listComponentItem {
        display: flex;
        justify-content: space-between;
    }
</style>
