<template>
    <div class="container" id="component">
        <FormAddComponent/>
    </div>
</template>

<script>
    // @ is an alias to /src
    import FormAddComponent from '@/components/component/FormAddComponent.vue'

    export default {
        name: 'AddComponent',
        components: {
            FormAddComponent
        }
    }
</script>
