<template>
    <div class="componentPageContainer">
        <div class="itemContainer mediumContainer">
            <md-toolbar class="md-primary toolbar">
                <div class="flex">
                    <span class="md-title marginAuto">Component</span>
                    <md-button class="md-icon-button" @click="$store.commit('changeAddComponentModalState', true)">
                        <md-icon class="fa fa-plus"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-list id="listComponent">
                <md-list-item
                    class="listComponentItem"
                    :class="[{ active: component.name === $store.state.currentItemName }]"
                    v-for="component of $store.state.components"
                    v-bind:key="component.id"
                    @click="onComponentClick(component)"
                >
                    <span>{{ component.name }}</span>
                    <div>
                        <md-button class="md-icon-button" @click="openEditComponentModal(component)">
                            <md-icon class="fa fa-edit"></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" @click="deleteComponent(component.id)">
                            <md-icon class="fa fa-trash"></md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
            <md-dialog-prompt
                :md-active.sync="isEditComponentModalDisplayed"
                v-model="editComponent.name"
                md-title="Edit Component"
                @md-confirm="editComponentAndCloseModal"
            />
        </div>

        <div class="valuesContainer mediumContainer">
            <md-toolbar class="md-primary toolbar">
                <div class="flex">
                    <span class="md-title marginAuto">{{ $store.state.currentItemName }}</span>
                </div>
            </md-toolbar>
            <ComponentValuesTab></ComponentValuesTab>
        </div>

        <div class="criteriaContainer mediumContainer">
            <md-toolbar class="md-primary toolbar">
                <div class="flex">
                    <span class="md-title marginAuto">Criteria</span>
                    <md-button class="md-icon-button" @click="$store.commit('changeAddCriteriaModalState', true)">
                        <md-icon class="fa fa-plus"></md-icon>
                    </md-button>
                </div>
                <div class="flex">
                    <span class="totalWeightText">{{ totalWeight.toFixed(6) }}</span>
                    <md-icon v-if="totalWeight.toFixed(6) === '1.000000'" class="fa fa-check criteriaStateIcon"></md-icon>
                    <md-icon v-if="totalWeight > 1" class="fa fa-exclamation-triangle criteriaStateIcon"></md-icon>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item v-for="criteria of $store.state.criterias" v-bind:key="criteria.id" class="listItem">
                    <span>{{ criteria.name }}</span>
                    <div class="flex">
                        <span class="criteriaPolarityText">{{ criteria.polarity ? "+" : "-" }}</span>
                        <span class="marginAuto">{{ criteria.weight }}</span>
                        <md-button class="md-icon-button" @click="openEditCriteriaModal(criteria)">
                            <md-icon class="fa fa-edit  "></md-icon>
                        </md-button>
                        <md-button class="md-icon-button" @click="deleteCriteria(criteria.id)">
                            <md-icon class="fa fa-trash"></md-icon>
                        </md-button>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <md-dialog
            :md-active.sync="$store.state.isAddCriteriaModalDisplayed"
        >
            <md-dialog-title>Add criteria</md-dialog-title>
            <AddCriteria></AddCriteria>
        </md-dialog>
        <md-dialog
            :md-active.sync="$store.state.isAddComponentModalDisplayed"
        >
            <md-dialog-title>Add Component</md-dialog-title>
            <FormAddComponent></FormAddComponent>
        </md-dialog>
        <md-dialog-prompt
            :md-active.sync="isEditCriteriaModalDisplayed"
            v-model="editCriteria.weight"
            md-title="Edit Criteria"
            @md-confirm="editCriteriaAndCloseModal"
        />
    </div>
</template>

<script>
  import AddCriteria from "../components/AddCriteria";
  import FormAddComponent from "../components/component/FormAddComponent";
  import ComponentValuesTab from "../components/component/ComponentValuesTab";
  export default {
    name: "ComponentPage",
    components: {ComponentValuesTab, FormAddComponent, AddCriteria},
    data () {
      return {
        isEditCriteriaModalDisplayed: false,
        isEditComponentModalDisplayed: false,
        editCriteria: {id: -1, weight: 0},
        editComponent: {
          id: -1,
          name: ''
        }
      }
    },
    computed: {
      totalWeight () {
        return this.$store.state.criterias.map(criteria => criteria.weight).reduce((a, b) => +a + +b, 0);
      }
    },
    methods: {
      deleteComponent(idComponent) {
        this.$store.dispatch("deleteComponent", idComponent);
      },

      deleteCriteria(idCriteria) {
        this.$store.dispatch("deleteCriteria", idCriteria)
      },

      openEditCriteriaModal(criteria) {
        this.editCriteria = criteria;
        this.isEditCriteriaModalDisplayed = true;
      },

      editCriteriaAndCloseModal() {
        this.$store.dispatch("editCriteria", this.editCriteria).then();
      },

      openEditComponentModal(component) {
        this.editComponent.id = component.id;
        this.editComponent.name = component.name;
        this.isEditComponentModalDisplayed = true;
      },

      editComponentAndCloseModal() {
        this.$store.dispatch("editComponent", this.editComponent).then();
      },

      onComponentClick(component) {
        this.$store.commit('resetCurrentItem');
        this.$store.commit('setCurrentItemName', component.name);
        this.$store.dispatch('getItemValues', component.id);
      }
    }
  }
</script>

<style scoped>
    .componentPageContainer {
        display: flex;
        justify-content: space-between;
    }

    .mediumContainer {
        min-width: 300px;
        width: 45vw;
        margin: 10px;
        border: 1px solid lightgrey;
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
    }

    .totalWeightText {
        margin: auto 55px auto 10px;
        font-size: 20px;
    }

    .criteriaPolarityText {
        margin: auto 5px;
    }

    .criteriaStateIcon {
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
    }

    .listItem {
        border-bottom: 1px solid lightgrey;
    }

    ul {
        padding: 0;
    }

    .active {
        background-color: lightgrey;
    }
</style>
