<template>
    <div>
        <div v-if="displayMode === 'default'">
            <md-button @click="beginOperation()" class="md-primary md-raised">Begin operation</md-button>
        </div>
        <div v-if="displayMode === 'calculate'">
            <span>Loading ...</span>
            <md-progress-bar md-mode="indeterminate"></md-progress-bar>
        </div>
        <div v-if="displayMode === 'results'" class="resultsContainer">
            <md-card v-for="result of $store.state.results" v-bind:key="result.type" class="resultCard">
                <md-card-header>
                    <div class="md-title">Best {{ result.type }}</div>
                </md-card-header>
                <md-card-content>
                    <h2>{{ result.name }}</h2>
                </md-card-content>
            </md-card>
        </div>
    </div>
</template>

<script>
  export default {
    name: "ResultPage",
    data () {
      return {
        displayMode: "default"
      }
    },
    methods: {
      async beginOperation() {
        this.displayMode = "calculate";
        const pipes = await this.preparePodium(1);
        this.$store.state.results[0].name = pipes[0];
        const radiators = await this.preparePodium(2);
        this.$store.state.results[1].name = radiators[0];
        const pumps = await this.preparePodium(3);
        this.$store.state.results[2].name = pumps[0];
        const tvalves = await this.preparePodium(4);
        this.$store.state.results[3].name = tvalves[0];
        const bvalves = await this.preparePodium(5);
        this.$store.state.results[4].name = bvalves[0];
        this.displayMode = "results"
      },

      async preparePodium(itemTypeId) {
        return new Promise(resolve => {
          let criteriasWithWeight = [];
          const itemsWithValues = [];
          this.$store.dispatch('getComponentsAndCriteriasByDefinedItemType', itemTypeId).then(() => {
            criteriasWithWeight = this.$store.state.criterias;
            let index = 0;
            this.$store.state.components.forEach(component => {
              itemsWithValues.push({name: component.name, values: []});
              this.$store.dispatch("getItemValues", component.id).then(values => {
                values.forEach(value => {
                  itemsWithValues[index].values.push(value.value);
                });
                itemsWithValues[index].values.sort((a, b) => (a.idCriteria > b.idCriteria) ? 1 : -1);
                index++;
              });
            });
          });
          setTimeout(() => {
            if(itemsWithValues.length > 0 && criteriasWithWeight.length > 0) {
              resolve(this.getPodium(criteriasWithWeight, itemsWithValues));
            } else {
              resolve(false);
            }
          }, 2500)
        });
      },

      //A appeler pour chaque composant
      getPodium(criteriasWithWeights, itemWithValues) {
        var counter = 0;
        var sumEachValues = Array(itemWithValues[0].values.length).fill(0);
        var weightednormalizedValuesPLUS = Array(itemWithValues.length).fill(0);
        var weightednormalizedValuesMINUS = Array(itemWithValues.length).fill(0);

        // calculer la somme de tout les critères de tout les objets
        itemWithValues.forEach(item => {
          for (i = 0; i < item.values.length; i++) {
            sumEachValues[i] += +item.values[i];
          }
          counter++;
        });

        // calculer S+j S-j
        counter = 0;
        itemWithValues.forEach(item => {
          for (let j = 0; j < item.values.length; j++) {
            if (criteriasWithWeights[j] && criteriasWithWeights[j].polarity) {
              weightednormalizedValuesPLUS[counter] += (item.values[j] * criteriasWithWeights[j].weight) / sumEachValues[j];
            } else if (criteriasWithWeights[j]){
              weightednormalizedValuesMINUS[counter] += (item.values[j] * criteriasWithWeights[j].weight) / sumEachValues[j];
            }
          }
          counter++;
        });

        var sumSminusJ = 0;
        var sumOnedividedSminusJ = 0;

        // calculer la somme des S-j
        weightednormalizedValuesMINUS.forEach(function(item){
          sumSminusJ += item;
          sumOnedividedSminusJ += 1 / item;
        });

        // Calculer les Qj
        var relativeQj = Array();
        for (var i = 0; i < itemWithValues.length; i++) {
          relativeQj.push(weightednormalizedValuesPLUS[i] + (sumSminusJ / (weightednormalizedValuesMINUS[i] * sumOnedividedSminusJ)));
        }

        var qjmax = Math.max(...relativeQj);

        // calculer les pourcentages de variance par rapport au Qj max
        var percentageQj = Array();
        for (i = 0; i < itemWithValues.length; i++) {
          percentageQj.push(relativeQj[i] / qjmax);
        }

        // Faire le podium
        var podium = Array();
        var index;

        for (i = 0; i < itemWithValues.length; i++) {
          index = percentageQj.indexOf(Math.max(...percentageQj));
          if(itemWithValues[index] ) {
            podium.push(itemWithValues[index].name);
            percentageQj.splice(index, 1);
          }
        }

        return podium;

      }
    }
  }
</script>

<style scoped>
    .resultsContainer {
        display: flex;
    }

    .resultCard {
        width: 19vw;
        margin: 5px;
    }

</style>
