<template>
    <div>
        <form @submit.prevent="sendCriteria" class="criteriaForm">
            <md-field class="criteriaFormField" :class="{'md-invalid' : nameError}">
                <label for="criteriaName">Name</label>
                <md-input name="criteriaName" id="criteriaName" v-model="criteriaForm.name"/>
                <span class="md-error">Name can not be null.</span>
            </md-field>
            <md-field class="criteriaFormField" :class="{'md-invalid' : weightError}">
                <label for="criteriaWeight">Weight</label>
                <md-input type="number" min="0" max="1" step="0.1" name="criteriaWeight" id="criteriaWeight" v-model="criteriaForm.weight"/>
                <span class="md-error">The weight can't be above 1.</span>
            </md-field>
            <md-field class="criteriaFormField">
                <label for="criteriaMeasure">Measure unit (optional)</label>
                <md-input name="criteriaMeasure" id="criteriaMeasure" v-model="criteriaForm.measure"></md-input>
            </md-field>
            <md-field>
                <label for="polarity">Polarity</label>
                <md-select name="polarity" id="polarity" v-model="criteriaForm.polarity">
                    <md-option value="+">+</md-option>
                    <md-option value="-">-</md-option>
                </md-select>
            </md-field>
        </form>

        <md-dialog-actions>
            <md-button class="md-primary" @click="$store.commit('changeAddCriteriaModalState', false)">Close</md-button>
            <md-button class="md-primary" @click="sendCriteria">Save</md-button>
        </md-dialog-actions>
    </div>
</template>

<script>
  export default {
    name: "AddCriteria",
    data () {
      return {
        criteriaForm: {
          name: "",
          weight: "0.0",
          polarity: "+",
          measure: ""
        },
        weightError: false,
        nameError: false,
      }
    },
    methods: {
      sendCriteria() {
        if(this.criteriaForm.weight > 1) {
          this.weightError = true;
        } else if (this.criteriaForm.name.trim() === "") {
          this.nameError = true;
        } else {
          this.$store.dispatch('addCriteria', {name: this.criteriaForm.name, weight: this.criteriaForm.weight, polarity: this.criteriaForm.polarity, measure: this.criteriaForm.measure});
          this.$store.commit('changeAddCriteriaModalState', false)
        }
      }
    }
  }
</script>

<style scoped>
    .criteriaForm {
        padding: 10px;
    }
</style>
