<template>
  <div id="app">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <Toolbar></Toolbar>
    <div id="nav">
      <router-view/>
    </div>
  </div>
</template>

<script>

  import Toolbar from "./components/menu/Toolbar";
  export default {
    components: {Toolbar},
    beforeCreate : function () {
      this.$store.dispatch("initApp")
    }
  }
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  .flex {
    display: flex;
  }

  .marginAuto {
    margin: auto;
  }
}
</style>
